@using System.Diagnostics
@using System.Threading.Tasks
@using Vidly.Views.Shared
@using Yelp.Api

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
    </script>
</head> 

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional informations.</p>

